<!--
   File name: bottom_nav.ejs
   Stu name: Huyen Anh Phan
   Stu #: 301216123
   Date: 10/16/22
-->
    <!-- Bottom Nav -->
  <footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <h6 class="display-9 navbar-text">&copy; Copyright Huyen Anh Phan 2022.</h6>
    </nav>
  </footer>