<!--
   File name: about.ejs
   Stu name: Huyen Anh Phan
   Stu #: 301216123
   Date: 10/16/22
-->
<%-include partials/header.ejs%>
<%-include partials/main_nav.ejs%>
  
   <h1>Huyen Anh Phan</h1>
   <img width="400px" src="Assets/images/myself.jpg">
   <hr/>
   <h4>Some information about myself: </h4>
   <h5>Hello, my name is Huyen Anh Phan. I'm currently a student majoring in software engineering technology at Centennial College</h5>
   <br>Excellent problem-solver with strong analytical skills used to resolve programming problems. 
   <br>Computer skills include proficiency in Microsoft Word, Excel, PowerPoint, and Visio.
   <br>Multilingual in English, Vietnamese.
   <br>Experienced in team-based collaborative project work.
   <hr/>
   <a href="Assets/images/resume.pdf">Click to view my Resume</a>

   <hr/><hr/><hr/><hr/>
   <%-include partials/bottom_nav.ejs%>
<%-include partials/footer.ejs%>   

